.contanier{
    display: flex;
    background: lime;
}
.contanier div{
    
    background-color: gray;
    margin: 10px;
    padding: 20;
    font-size: 35px;
}
.contanier div:nth-child(1){
    order: 4;
}
.contanier div:nth-child(2){
    order: 3;
}
.contanier div:nth-child(3){
    order: 2;
}
.contanier div:nth-child(4){
    order: 1;
}

.contanier2{
    display:flex;
    background: aquamarine;
    flex-direction: column-reverse;
}

.contanier2 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
}

.contanier3 div{
    display: flex;
    background: blue;
    flex-direction: row;
}
.contanier3 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: row;
}

.contanier3 div:nth-child(IV){
    flex-grow: flex;
}

.contanier4{
    display:flex;
    background: red;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.contanier4 div{
    background-color:white;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    width: 30%;
}

.contanier5{
    display:flex;
    background: yellow;
    flex-direction: row;
    justify-content: flex-end;
}

.contanier5 div{
    background-color:white;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    
}


